name: Update terraform public modules
# Description: Update terraform modules versions in .tf files based on cron for public repos, that cannot get GH tokens from secrets.
on:
  workflow_dispatch: {}
  repository_dispatch:
    types: [update-terraform-modules-public]
  schedule:
    - cron: '0 5 * * 5'  # Every Friday at 05:00 UTC

permissions:
  contents: write
  pull-requests: write
  id-token: write

env:
  GITHUB_TOKEN: ${{ github.token }}

jobs:
  update-specific:
    runs-on:
      group: arc-test-public-2xlarge-amd64-runner
    env:
      # Default list if client_payload.repos is not set
      REPOS: ${{ github.event.client_payload.repos || 'terraform-aws-eks terraform-aws-nlb terraform-aws-alb terraform-datadog-kubernetes' }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8


      - name: Bump module dependencies
        run: |
          MODULES="terraform-aws-nlb terraform-aws-alb terraform-datadog-kubernetes"

          for MOD in $MODULES; do
              V=$(curl -s https://api.github.com/repos/worldcoin/$MOD/releases/latest  -H "Accept: application/vnd.github+json"   -H "Authorization: Bearer $GITHUB_TOKEN"   -H "X-GitHub-Api-Version: 2022-11-28" \ | jq -r '.tag_name')
              for i in $(git grep -l "source .*worldcoin/$MOD.*ref"); do
                  echo "Bumping $MOD to $V in $i"
                  sed -i "s/\(source .*worldcoin\/$MOD.*ref=\).*$/\1$V\"/" $i
              done
          done


      - name: Open PR with all .tf updates
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725
        with:
          branch: bulk-update-tf-repo
          base: main
          delete-branch: true
          commit-message: Update all TF module repos to latest
          title: Update all TF module repos to latest
          body: |
            Update all TF module repos to latest

            Changes:
            - Updated all GH TF repos source references in .tf files
            - Changed version to latest






